root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space

[*.{cs,csx}]
indent_size = 4
dotnet_sort_system_directives_first = true
csharp_using_directive_placement = outside_namespace:warning
csharp_style_namespace_declarations = file_scoped:warning
dotnet_style_qualification_for_field = false:warning
dotnet_diagnostic.IDE0005.severity = warning   # unnecessary usings
csharp_prefer_braces = true:warning

[*.{ts,tsx,js,vue,json,yml,yaml,css}]
indent_size = 2

[*.{md,ps1,sh}]
indent_size = 2
trim_trailing_whitespace = false
